@*
    Credits page
*@
@{
}

@{
    ViewData["Title"] = "Credits";
}


<div class="container" style="margin-bottom: 25px;">

    <div style="width: 20%; float:left">
        <img class="img-fluid" src="~/images/woop no bg.png" alt="WOOP logo" style="max-width:200px, max-height:auto;">
        <p style="font-style: italic;text-align: center;">Writing code, rain or rain.</p>
    </div>

    <div style="width: 80%; float:right">
        <main class="row stat-cards" style="flex-direction: column;margin-left:50px;">
            <h2 style="margin: 10px 10px;">Members</h2>
            <a class="btn btn-secondary" href="https://github.com/eborello" style="border-radius:5px;background-color:#D0142C;width:300px;text-align:start; margin: 10px 10px;">
                <h3 style="margin-top:10px">Edward Borello</h3>
                <p>Team Lead</p>
            </a>

            <a class="btn btn-secondary" href="https://github.com/ncamuso" style="border-radius:5px;background-color:#D0142C;width:300px;text-align:start;margin: 10px 10px;">
                <h3 style="margin-top:10px">Nathan Camuso</h3>
                <p>Developer</p>
            </a>

            <a class="btn btn-secondary" href="https://github.com/ashrestha18" style="border-radius:5px;background-color:#D0142C;width:300px;text-align:start;margin: 10px 10px;">
                <h3 style="margin-top:10px">Ankit Shrestha</h3>
                <p>Developer</p>
            </a>
        </main>
    </div>

</div>

    

   


