@*
    Credits page
*@
@{
}

@{
    ViewData["Title"] = "Credits";
}

<body>
    <main>
        <h2>Members</h2>
        <section class="custom-section">
            <h3>Edward Borello</h3>
            <p><a href="https://github.com/eborello">Github</a></p>
        </section>
        <section class="custom-section">
            <h3>Nathan Camuso</h3>
            <p><a href="https://github.com/ncamuso">Github</a></p>
        </section>
        <section class="custom-section">
            <h3>Ankit Shrestha</h3>
            <p><a href="https://github.com/ashrestha18">Github</a></p>
        </section>
    </main>
</body>
