@*
    Credits page
*@
@{
}

@{
    ViewData["Title"] = "Credits";
}



     <h2>Members</h2>

    <main class="row stat-cards" style="justify-content: space-between; margin-top:50px">
       
        <a class="btn btn-secondary" href="https://github.com/eborello" style="border-radius:5px;background-color:#D0142C;width:300px;text-align:start;">
            <h3>Edward Borello</h3>
            <p>Github</p>
        </a>
        
        <a class="btn btn-secondary" href="https://github.com/ncamuso" style="border-radius:5px;background-color:#D0142C;width:300px;text-align:start;">
            <h3>Nathan Camuso</h3>
            <p>Github</p>
        </a>
        
        <a class="btn btn-secondary" href="https://github.com/ashrestha18" style="border-radius:5px;background-color:#D0142C;width:300px;text-align:start;">
            <h3>Ankit Shrestha</h3>
            <p>Github</p>
        </a>
    </main>
