@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Welcome to Spoil Block</h1>
    <p style= "font-size: 1.2em;">
        The internet has become a bubble of spoiler and it is hard not to see anything spoiled from our favourite shows. Our main purpose is to deliver spoiler free youtube content as per the user's choices.
    </p>
    <br />
    <p style= "font-size: 1.2em;">
        Please login to proceed
        <a class="btn btn-primary" id="login" asp-area ="Identity" asp-page="/Account/Login">Login</a>
    </p>
</div>
