@model SpoilBlock.Models.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search Page";
}


<h3 class="text-left">Search</h3>
<p class="text-left font-italic lead">This tool allows you to search for the title of a movie or show so that you can add it to your SpoilBlock Watchlist.</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <input id="searchQuery" class="form-control" placeholder="Title" />
            <span asp-validation-for=query></span>
        </div>
        <div class="col" id="buttonCol">
            <button type="button" class="btn btn-primary" id="searchButton">Search</button>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div id="resultsTableDiv">

    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/search.js"></script>
}