@model SpoilBlock.Models.ViewModels.WatchlistViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<link rel="stylesheet" href="~/css/~/css/watchlist.css" asp-append-version="true" />*@


@{
    ViewData["Title"] = "Watchlist Page";
}
<div>
    @if (SignInManager.IsSignedIn(User) && Model.HasWoopUser)
    {
            
        @*<h2 class="display-4" style="float:left; margin-bottom:30px;">Your Watchlist</h2>*@
        
    
        @if (Model.IsEmpty == false)
        {
            <div class="text-center" stye="margin-top:60px;">
                <table id="sortTable" class="table table-bordered" style="border-radius:5px; font-size:20px;">    
                    <caption>Your Watchlist</caption>
                    <thead class="table-dark">
                        <tr>
                            
                            <th data-type="string"><button class="table_header">Title</button></th>
                            <th data-type="string"><button class="table_header">Description</button></th>
                            
                        </tr>
                    </thead>
    
                    <tbody>
    
                            @foreach (var item in @Model.AllShows)
                            {
                                <tr>
                                    <td style="max-width:100px;max-height:100px;">
                                        <div><img src= "@item.Image" class="img-fluid">@item.Title</div>
                                    </td>
                                    <td style="padding-top:50px;">@item.Description</td>
                                </tr>
                            }
                            
                        
                    </tbody>
                </table>
            </div>
        }
        else
        { 
            <div class = "text-center">
    
                <h2> You dont have anything in your watchlist. Do you want add some shows?</h2>
                <a class="btn btn-primary" asp-controller="Search" asp-action="Index">Click Here!</a>
            </div>
        }
    
    } 
    else
    {
        <div class="text-center">
             <h2 class="display-4">Please login to view the watchlist</h2>
        </div>
    
    }

</div>



@section WatchlistScript{
    <script type="text/javascript" src="~/js/watchlist.js"></script>
}